/*Asterisk used as "universal selector", selects all items in CSS file*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*Main body color theme*/
body {
    background: #D1E8D3;
    color: #000000;

}

/*#Select header element by id (specific element targeting)*/
#header {
    width: 100%;
    /*Change viewport height*/
    height: 100vh;
}

/*.Select container by class (multiple elements)*/
.container{
    /*10 pixel from top and botton, 5 percent from left and right sides*/
    padding: 10px 5%;
}

/*Navigation bar styling*/
nav{
    /*Using flexbox container layout mode*/
    display: flex;
    /*Default centered alignment of items in flexbox *vertical* axis*/
    align-items: center;
    /*Controlling alignment of items on *horizontal* axis*/
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Targeting li (link) elements nested in nav, then ul*/
nav ul li{
    /*Setting to allow top/bottom margin modifications of links*/
    display: inline-block;
    /*Remove bullet pts*/
    list-style: none;
    /*Set top/bottom and left/right margins for links*/
    margin: 10px 20px;

}

/*Targeting a (actual link) elements*/
nav ul li a{
    color: #650e69;
    /*Remove link underline*/
    text-decoration: none;
    font-size: 20px;
    font-family: Courier New, Courier, monospace;

}